.table-column {
  vertical-align: text-bottom;
  text-align: left;
 }
 .table-row-work-days {
    align-content: center;
    align-items: center;
 }
 .table-row-off-days {
   background-color: gray;
   align-content: center;
   align-items: center;
   align-self: center;
 }
 
 .table-title {
  text-align: center;
 }
 .Label {
  background-color: transparent;
  color: black;
  align-items: center;
   align-self: center;
  align-content: center;
  font-size: 14px;

  
}
