.month {
  thead {
    color: blue;
    th {
      text-align: center !important;
    }
  }
  tbody {
    vertical-align: middle;
  }
}
.table-row-off-days {
   background-color: lightgray;
 }
.table td {
  vertical-align: middle !important;
}
.Label {
  background-color: transparent;
  color: black;
  font-size: 14px;
  vertical-align: middle;
}
