.accordion {
  width: auto;
  color: red;
  font-size: 20px;
  }
.labels {
  font-size: 12px;
}
.buttonAdd {
  display: block;
  margin-inline-start: 12px;
  margin-top: 5px;
}
.buttonAdd:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
